node_modules
built/
# lib/
# bundle/
dist/
scripts/
src/
.vscode/
.idea/

test.js

tsconfig.*
webpack*
tslint*

*.tgz
*.zip
**/__demo__/*
**/__test__/*
**/out/*
**/dist/*
**/built/*
# **/lib/*
# **/bundle/*
