html
    head
        title Milligrami
            meta(charset="UTF-8")
            meta(
                name="viewport"
                content="width=device-width, initial-scale=1"
            )
            link(
                ref="window.css" 
                rel="stylesheet"
            )
    body
        div(id="root")
        script(src="index.js")
